*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}

.moon{
    /* padding: 20px 20px; */
    margin: 10px 15px;
}
nav{
    padding-top: 15px;
    margin-top: 50px;
    /* background-color: aqua; */
    position: relative;


}

button{
    position: absolute;
    right: 10%;
    padding: 4px 8px;
    font-size: 18px;
    font-weight: 500;
    font-family: sans-serif;
    background-color: white;
    border: 2px solid rgb(199, 121, 121);
    border-radius: 6px;
}
button:hover{
    cursor: pointer;
}
.logo{
    /* margin-top: 5px; */
    margin-bottom: 40px;
    position: absolute;
     /* top: 6%; */
     top: 2%;
     left: 15%;
}
.face{
    position: absolute;
    /* margin-top: 57px; */
    left: 60%;

}
.ins{
    position: absolute;
    /* margin-top: 57px; */
    left: 63%;

}
.git{
    position: absolute;
    /* margin-top: 57px; */
    left: 66%;

}
.mail{
    position: absolute;
    left: 69%;
    /* margin-top: 57px; */

}
.lin{
    position: absolute;
    left: 72%;
    /* margin-top: 57px; */

}

.work{
    font-size: 25px;
    font-weight: 500;
    position: absolute;
    /* margin-top: 20px; */
    left: 20%;

}
.about{
    font-size: 25px;
    font-weight: 500;
    position: absolute;
    /* margin-top: 20px; */
    left: 30%;

}
.contact{
    font-size: 25px;
    font-weight: 500;
    position: absolute;
    /* margin-top: 20px; */
    left: 40%;

}

.cont{
    position: absolute;
    font-size: 35px;
    top: 38%;
    left: 25%;
    /* background-color: aqua; */
    line-height: 60px;
    width: 23%;
}

.photo{
    position: absolute;
    right: 20%;
    top: 30%;
    border: 2px solid white;
    /* border-radius: 50%; */
    /* background-color: white; */
}
figcaption{
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
}

@media (max-width:600px) {
    .images{
        display: none;
    }
    h1{
        display: none;
    }
    
}